# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & Editor files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
.idea/

# Temp & Artifacts
temp-app/
.gemini/
